{% extends 'layout.html.twig' %}

{% block content %}
<a href="https://github.com/khepin/tsusbos"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>
<h1>Welcome to TSUSBOS</h1>
<h2 >The Simple URL Shortener Based On Silex </h2>
<p >To add a new url to be shortened, go to a url formed like this:
    <pre >http://shortener.com/goog?url=http://www.google.com </pre>
    After this, visiting the url
    <pre >http://shortener.com/goog</pre>
    will redirect the user to http://www.google.com .
</p >
<p >
    You can <a href="/view/list">view all available urls on this site here.</a>
</p>
{% endblock %}